{% extends "views/modelos/base.html" %}
{% block title %}
{{ data[0]["title"] }}
{% endblock %}


{% block content %}


<div class="anl-container">

    <div class="left"></div>
    <div class="main">


        <header>
            <h1 class="h1 p-4">Gestor de Documento Simples </h1>
        </header>

        <div class="container text-center">
            <div class="row">
                <div class="col">

                    <div class="container-imagens">
                        <div class="img-cards">
                            <img src="{{ url_for('static',filename='img/m1.png') }}" alt="" srcset="">
                        </div>
                    </div>
                    




                </div>
                <div class="col mt-5">
                    <form class="form-inline needs-validation" novalidate>
                        
                        <div class="col-md-12 form-group b-label-left">
                          <label for="validationCustom01"    class="control-label" >Digite o nome completo</label>
                          <input type="text" class="form-control" id="validationCustom01" value=" " required>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                        <div class="col-md-12 b-label-left">
                          <label for="validationCustom02" class="form-label b-label-left text-center text-md-right">Digite seu Email</label>
                          <input type="text" class="form-control" id="validationCustom02" value=" " required>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                        
                        <div class="col-md-12 b-label-left"  >
                          
                          <label for="validationCustom03" class="form-label">Digite uma Senha</label>
                          
                          <input type="password" class="form-control" id="validationCustom03" required>
                          <div class="invalid-feedback">
                            Please provide a valid city.
                          </div>
                        </div>
                      
                      
                     
                        <div class="col-12">
                          <div class="form-check m-1 ">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                              Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                              You must agree before submitting.
                            </div>
                          </div>
                        </div>
                        <div class="col-12 p-4">
                          <button class="btn btn-primary" type="submit">Criar nova conta</button>
                        </div>
                      </form>
                </div>
              </div>
    
        </div>      
        

      

        <div class="actions ">
            <div class="row ">
                <div class="col-sm-3 p-1 d-grid gap-3">
                    <a href="/" class="btn btn-default btn-lg btn-customes">
                        <i class="fa fa-angle-double-left" style="font-size:24px"></i>
                        Voltar</a>
                </div>

                


            </div>
        </div>









    </div>

</div>

{% endblock %}